html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    #main {
        flex-grow: 1;
    }

    > header,
    > footer,
    > #main {
        flex-shrink: 0;
    }
}

#mainNavbarDropdown {
    .avatar-toggle {
        padding: 0;
    }
    .avatar {
        width: 32px;
        height: auto;
    }
}
